html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.main {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}
.wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;

  .contain {
    background-image: linear-gradient(
        180deg,
        #282828 0%,
        rgba(40, 40, 40, 0) 100%
      ),
      url(../images/title.jpg);
    height: 900px;
    background-size: cover;
    background-position: center -110px;
    background-repeat: no-repeat;
    .first_page {
      header {
        padding-top: 30px;
        a {
          color: #fff;
          text-decoration: none;
        }
        .contacts {
          display: flex;
          justify-content: space-between;
          padding-bottom: 20px;
        }
        nav {
          border-top: solid 1px #fff;
          border-bottom: solid 1px #fff;
          display: flex;

          a {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25%;
            border-right: solid 1px #fff;

            &:last-child {
              border-right: none;
            }
          }
        }
      }
      .order {
        display: flex;
        color: #fff;
        margin-top: 583px;
        justify-content: center;
        a {
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #998431;
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          &:first-child {
            width: 203px;
            margin-right: 30px;
          }
          &:last-child {
            width: 182px;
          }
        }
      }
    }
  }
  .second_page {
    height: 856px;
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    .descr {
      color: #fff;
      border: solid 3px #c4c4c4;
      height: 656px;
      text-align: center;
      h2 {
        font-family: "Playfair Display", serif;
        font-size: 36px;
        line-height: 54px;
        margin-top: 60px;
        margin-bottom: 40px;
      }
      hr {
        width: 160px;
      }
      p {
        margin-top: 40px;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        margin-bottom: 50px;
        span {
          width: 733px;
          display: inline-block;
        }
      }
      div {
        img {
          object-fit: contain;
          width: 160px;
          height: 160px;
        }
      }
    }
  }
  .third_page {
    background-color: #e6e3c4;
    height: 1038px;
    padding-top: 80px;
    .collection {
      display: flex;
      border-top: 1px solid #998431;
      border-bottom: 1px solid #998431;
      padding-top: 60px;
      padding-bottom: 60px;
      .left_side {
        width: 445px;
        padding-right: 110px;
        h2 {
          font-family: "Montserrat";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
        }
        h1 {
          font-family: "Playfair Display";
          font-size: 36px;
          line-height: 54px;
          text-align: left;
          padding-top: 30px;
          padding-bottom: 30px;
        }
        hr {
          width: 160px;
          display: inline-block;
          margin-bottom: 30px;
          margin-top: 0;
        }
        p {
          font-family: "Montserrat";
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 21px;
          text-align: left;
        }
        .table {
          display: grid;
          grid-template-columns: 75px 370px;
          grid-template-rows: repeat(3, 76px);
          margin-top: 30px;
          margin-bottom: 30px;
          background-color: #282828;
          gap: 1px;
          div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            background-color: #e6e3c4;
          }
          .wine_descr {
            display: block;
            padding-left: 30px;
            padding-top: 10px;
            h3 {
              font-family: "Playfair Display";
              font-size: 18px;
              line-height: 27px;
              text-align: left;
            }
            p {
              font-family: "Montserrat";
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 21px;
              text-align: left;
              padding-top: 5px;
            }
          }
        }
        .more_info {
          cursor: pointer;
          background-color: #998431;
          color: #fff;
          font-family: "Montserrat";
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 0.05em;
          text-align: center;
          padding: 15px 30px;
          margin-top: 30px;
          display: inline-block;
          text-transform: uppercase;
        }
      }
      .right_side {
        width: 50%;
        .photos {
          margin-left: 15px;
          display: grid;
          grid-template-columns: 255px 255px;
          grid-template-rows: 500px 228px;
          gap: 30px;
          .glass {
            grid-column: 1 / span 2;
            background-image: url(../images/glass2.jpg);
            background-position: center;
            background-size: cover;
          }
          .shelf {
            background-image: url(../images/shelf.jpg);
            background-position: center;
            background-size: cover;
          }
          .bottle {
            background-image: url(../images/bottles.jpg);
            background-position: center;
            background-size: cover;
          }
        }
      }
    }
  }
  .record {
    background-color: #282828;
    color: #fff;
    position: relative;
    padding-top: 129px;
    padding-bottom: 100px;
    .form {
      display: flex;
      border: solid 3px #c4c4c4;
      #grape {
        background-color: #282828;
        .pic1 {
          background-image: url(../images/grape.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          height: 260px;
        }
        height: 260px;
        width: 260px;
        margin-left: -30px;
        margin-top: -60px;
      }
      #barrel {
        background-color: #282828;
        height: 200px;
        width: 260px;
        margin-right: -53px;
        margin-top: -60px;
        .pic2 {
          background-image: url(../images/barrel.png);
          background-size: contain;
          height: 200px;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      .center {
        text-align: center;
        padding-right: 78px;
        padding-left: 56px;
        h1 {
          font-family: "Playfair Display";
          font-size: 36px;
          line-height: 54px;
          letter-spacing: 0em;
          position: absolute;
          //padding-top: 30px;
          top: 90px;
          background-color: #282828;
          span {
            display: inline-block;
            padding: 10px 50px;
            /*  &::before {
            content: " ";
            position: absolute;
            width: 100%;
            top: 50%;
            background-color: #fff;
            height: 3px;
          }
          &::after {
            content: " ";
            position: absolute;
            width: 100%;
            top: 50%;
            background-color: #fff;
            height: 3px;
          } */
          }
        }
        hr {
          color: #fff;
          width: 118px;
          display: inline-block;
          margin-bottom: 40px;
          margin-top: 69px;
        }
        p {
          font-family: "Montserrat";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          width: 539px;
          margin-bottom: 81px;
        }
        #degustation {
          input {
            border: none;
            border-bottom: solid 1px #fff;
            background-color: #282828;
            color: #fff;
            padding-bottom: 10px;
            width: 100%;
            &::placeholder {
              color: #fff;
            }
          }
          #name {
            display: flex;
            justify-content: space-between;
            padding-bottom: 40px;
            input {
              width: 255px;
            }
          }
          button {
            margin-top: 50px;
            cursor: pointer;
            padding: 15px 30px;
            width: 100%;
            font-family: "Montserrat";
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.05em;
            text-align: center;
            color: #fff;
            background-color: #282828;
            margin-bottom: 80px;
            border: solid 1px;
          }
        }
      }
    }
  }
  footer {
    background-color: #998431;
    color: #fff;
    .menu {
      padding-top: 50px;
      display: flex;
      flex-wrap: wrap;
      #info {
        border-top: solid 1px #fff;
        width: 100%;
        display: flex;
        border-bottom: solid 1px #fff;
        justify-content: space-between;
        padding-left: 95px;
        padding-right: 95px;
        div {
          font-family: "Montserrat";
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0em;
          text-align: center;
          padding-top: 19px;
          padding-bottom: 20px;
          a {
            text-decoration: none;
            color: #fff;
          }
        }
      }
      #info2 {
        width: 100%;
        display: flex;
        border-bottom: solid 1px #fff;
        padding-left: 95px;
        padding-right: 95px;
        margin-bottom: 50px;
        div {
          font-family: "Montserrat";
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 21px;
          letter-spacing: 0em;
          text-align: center;
          padding-top: 19px;
          a {
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
          }
        }
        #wine_name {
          text-align: left;
          width: 255px;
          cursor: pointer;
        }
        #wine_tel {
          width: 235px;
          border-left: solid 1px;
          cursor: pointer;
          padding-bottom: 20px;
        }
        #social {
          display: flex;
          justify-content: space-between;
          width: 260px;
          border-left: solid 1px;
          a {
            cursor: pointer;

            &:first-child {
              padding-left: 57px;
            }
            &:last-child {
              padding-right: 57px;
            }
          }
        }
        #wine_email {
          width: 171px;
          text-align: right;
          border-left: solid 1px;
          cursor: pointer;
        }
      }
    }
  }
}
@media screen and (max-width: 1600px) {
  .wrapper {
    .contain {
      background-position: center;
    }
  }
}
@media screen and (max-width: 1200px) {
  .main {
    width: 90%;
  }
  .wrapper {
    .contain {
      height: auto;
      .first_page {
        padding-bottom: 4%;
        .order {
          margin-top: 40%;
        }
      }
    }
    .third_page {
      height: auto;
      padding-top: 3%;
      .collection {
        padding-top: 5%;
        padding-bottom: 5%;
        .left_side {
          width: 47%;
          padding-right: 3%;
          .table {
            grid-template-columns: 1fr 5fr;
            grid-template-rows: repeat(3, 1fr);
            margin-top: 3%;
            margin-bottom: 3%;
          }
        }
        .right_side {
          .photos {
            margin-left: 0;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 2fr 1fr;
            gap: 5%;
            height: 100%;
          }
        }
      }
    }
    .record {
      .form {
        .center {
          padding-right: 3%;
          padding-left: 2%;
          width: 50%;
          h1 {
            span {
              padding: 5px 20px;
            }
          }
          p {
            width: 100%;
          }
          #degustation {
            #name {
              input {
                width: 45%;
              }
            }
          }
        }
      }
    }
    footer {
      .menu {
        #info {
          padding-left: 5%;
          padding-right: 5%;
        }
        #info2 {
          justify-content: space-between;
          padding-left: 5%;
          padding-right: 5%;
          #wine_name {
            text-align: left;
            width: 25%;
            cursor: pointer;
          }
          #wine_tel {
            width: 25%;
            border-left: solid 1px;
            cursor: pointer;
            padding-bottom: 20px;
          }
          #social {
            display: flex;
            justify-content: space-between;
            width: 25%;
            border-left: solid 1px;
            a {
              cursor: pointer;
              &:first-child {
                padding-left: 5%;
              }
              &:last-child {
                padding-right: 5%;
              }
            }
          }
          #wine_email {
            width: 25%;
            text-align: right;
            border-left: solid 1px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    .second_page {
      .descr {
        height: 100%;
        p {
          span {
            width: 90%;
          }
        }
      }
    }
    .third_page {
      .collection {
        .left_side {
          width: 65%;
        }
      }
    }
    .record {
      .form {
        #grape {
          width: 25%;
          .pic1 {
            height: 100%;
          }
        }
        #barrel {
          width: 25%;
          .pic2 {
            height: 90%;
            width: 80%;
            margin: 0 auto;
          }
        }
        .center {
          h1 {
            font-size: 30px;
          }
        }
      }
    }
    footer {
      .menu {
        #info {
          div {
            font-size: 10px;
          }
        }
        #info2 {
          div {
            font-size: 10px;
          }
        }
      }
    }
  }
}
